.paragraph_style {
    color: rgb(67, 4, 0);
    font-family: 'Copperplate-Light', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 36px;
    font-stretch: normal;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300;
    letter-spacing:    -0.02em;
    line-height: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.paragraph_style_1 {
    color: rgb(175, 50, 59);
    font-family: 'TeluguSangamMN', 'Telugu Sangam MN';
    font-size: 24px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 39px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke_2 {
    background: transparent;
    opacity: 1.00;
}
.paragraph_style_2 {
    color: rgb(87, 53, 8);
    font-family: 'Palatino-Bold', 'Palatino', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.style_SkipStroke {
    background: rgb(175, 50, 59);
    opacity: 1.00;
}
.style_SkipStroke_1 {
    background: transparent url(backgroundimage_1.jpg) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_3 {
    background: transparent url(backgroundimage_2_1.png) no-repeat scroll center center;
    opacity: 1.00;
}
.style_SkipStroke_4 {
    background: transparent;
    opacity: 1.00;
}
.style_SkipStroke_5 {
    background: transparent;
    opacity: 1.00;
}
.Body {
    color: rgb(33, 38, 0);
    font-family: 'Palatino-Roman', 'Palatino', serif;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 19px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.Normal_External_984_56 {
    position: relative;
}
.Ondertitel_voorblad {
    color: rgb(142, 128, 78);
    font-family: 'Copperplate-Light', 'Copperplate', 'Trebuchet MS', fantasy;
    font-size: 27px;
    font-stretch: normal;
    font-style: normal;
    font-variant: small-caps;
    font-weight: 300;
    letter-spacing:    -0.02em;
    line-height: 1px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: rgb(186, 122, 76);
    font-family: 'Palatino-Bold', 'Palatino', serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: center;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.graphic_generic_title_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_image_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
.graphic_shape_layout_style_default_External_984_10 {
    position: relative;
}
.graphic_shape_layout_style_default {
    padding: 4px;
}
.graphic_shape_layout_style_default_External_984_120 {
    position: relative;
}
.graphic_shape_layout_style_default_External_71_24 {
    position: relative;
}
.graphic_shape_style_default_SkipStroke {
    background: rgb(255, 255, 255);
    opacity: 1.00;
}
.graphic_textbox_layout_style_default {
    padding: 4px;
}
.graphic_textbox_layout_style_default_External_505_86 {
    position: relative;
}
.graphic_textbox_layout_style_default_External_651_44 {
    position: relative;
}
.graphic_textbox_style_default_SkipStroke {
    background: transparent;
    opacity: 1.00;
}
a {
    color: rgb(39, 33, 0);
    text-decoration: none;
}
a:visited {
    color: rgb(125, 131, 137);
    text-decoration: none;
}
a.class1 {
    color: rgb(39, 33, 0);
    text-decoration: none;
}
a.class1:visited {
    color: rgb(0, 0, 0);
}
a.class1:hover {
    color: rgb(175, 50, 59);
    text-decoration: none;
}
a.class2 {
    color: rgb(39, 33, 0);
    text-decoration: none;
}
a.class2:visited {
    color: rgb(0, 0, 0);
}
a.class2:hover {
    color: rgb(175, 50, 59);
    text-decoration: none;
}
a.class3 {
    color: rgb(39, 33, 0);
    text-decoration: none;
}
a.class3:visited {
    color: rgb(0, 0, 0);
}
a.class3:hover {
    color: rgb(175, 50, 59);
    text-decoration: none;
}
a.class4 {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
a.class4:visited {
    color: rgb(0, 0, 0);
}
a.class4:hover {
    color: rgb(175, 50, 59);
    text-decoration: none;
}
a:hover {
    color: rgb(186, 122, 76);
    text-decoration: underline;
}
.bumper {
    font-size: 1px;
    line-height: 1px;
}
.tinyText {
    font-size: 1px;
    line-height: 1px;
}
.spacer {
    font-size: 1px;
    line-height: 1px;
}
body { 
    -webkit-text-size-adjust: none;
}
div { 
    overflow: visible; 
}
img { 
    border: none; 
}
.InlineBlock { 
    display: inline; 
}
.InlineBlock { 
    display: inline-block; 
}
.inline-block {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom:0.3em;
}
.inline-block.shape-with-text {
    vertical-align: bottom;
}
.vertical-align-middle-middlebox {
    display: table;
}
.vertical-align-middle-innerbox {
    display: table-cell;
    vertical-align: middle;
}
div.paragraph {
    position: relative;
}
li.full-width {
    width: 100;
}
